*{

}
.header{
    background-image: url('/assets/images/pilt1.jpg');
    border:1px solid red;
    height:200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
}

.heading{
    height:150px;
    background-color: aqua;
}
.nav{


}
.nav ul li{
    list-style-type: none;
}
.body{
    border:1px solid lightseagreen;
    min-height:100px;
    background-color: aliceblue;
}

.pealehe_pilt {
    height:200px;
    display:block;
    position:relative;
    overflow:hidden;
}
.pealehe_pilt img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.sisu{
    min-height:250px;
    width:70%;
    background-color: orange;
    margin:0 auto;
}
.footer{
    border:1px solid black;
    height:200px;
    background-color: darkgreen;
}